In [4]:
SUMMARIES_FOLDER = "/n/sd7/trung/csp/log/swda_split_20"
import os
import pandas as pd

In [7]:
with open(os.path.join(SUMMARIES_FOLDER, "eval_ret.txt"), "r") as f:
    lines = f.read().split('\n')
    lines = list(filter(lambda s: s.strip() != "" and s[:3] != "LER", lines))
    
res = [(int(line.split('\t')[0]), int(line.split('\t')[1])) for line in lines]

(3, 3)

In [28]:
data = []
da_tagids = {'fo_o_fw_"_by_bc': 0, 'qw': 1, 'h': 2, 'sd': 3, 'sv': 4, 'b': 5, 'x': 6, '%': 7, '+': 8, 'qy': 9, 'qrr': 10, 'na': 11, 'bk': 12, 'ba': 13, 'ny': 14, '^q': 15, 'aa': 16, 'nn': 17, 'fc': 18, 'ad': 19, 'qo': 20, 'qh': 21, 'no': 22, 'ng': 23, '^2': 24, 'bh': 25, 'qy^d': 26, 'br': 27, 'b^m': 28, '^h': 29, 'bf': 30, 'fa': 31, 'oo_co_cc': 32, 'ar': 33, 'bd': 34, 't1': 35, 'arp_nd': 36, 't3': 37, 'ft': 38, '^g': 39, 'qw^d': 40, 'fp': 41, 'aap_am': 42}
for i in range(43):
    cnt = sum(r[0] == i for r in res)
    for key in da_tagids: 
        if da_tagids[key] == i: tag = key
    tp = sum(r[0] == i and r[1] == i for r in res)
    fp = sum(r[0] == i and r[1] != i for r in res)
    fn = sum(r[0] != i and r[1] == i for r in res)
    prec = tp / (tp + fp) if tp + fp != 0 else None
    recall = tp / (tp + fn) if tp + fn != 0 else None
    f1 = 2 / (1 / prec + 1 / recall) if prec != None and prec != 0 and recall != None and recall != 0 else None
    data.append([tag, cnt, tp, prec, recall, f1])
    
df = pd.DataFrame(data, columns=["Tag", "No.", "tp", "precision", "recall", "f1"])
df.index += 1
df

                Tag  No.   tp  precision    recall        f1
1   fo_o_fw_"_by_bc   13    6   0.461538  0.600000  0.521739
2                qw   21   18   0.857143  0.562500  0.679245
3                 h   17   10   0.588235  1.000000  0.740741
4                sd  945  743   0.786243  0.802376  0.794228
5                sv  299  163   0.545151  0.548822  0.546980
6                 b  396  360   0.909091  0.803571  0.853081
7                 x    0    0        NaN       NaN       NaN
8                 %  239  178   0.744770  0.622378  0.678095
9                 +  224  125   0.558036  0.612745  0.584112
10               qy   45   19   0.422222  0.633333  0.506667
11              qrr    1    0   0.000000  0.000000       NaN
12               na    5    1   0.200000  0.333333  0.250000
13               bk   10    8   0.800000  0.533333  0.640000
14               ba   36   23   0.638889  0.657143  0.647887
15               ny   22   13   0.590909  0.464286  0.520000
16               ^q   16    0   0.000000       NaN       NaN
17               aa   91   42   0.461538  0.512195  0.485549
18               nn   14   14   1.000000  0.933333  0.965517
19               fc    0    0        NaN  0.000000       NaN
20               ad    6    0   0.000000  0.000000       NaN
21               qo    8    8   1.000000  0.727273  0.842105
22               qh   13    1   0.076923  0.333333  0.125000
23               no    1    0   0.000000       NaN       NaN
24               ng    1    0   0.000000  0.000000       NaN
25               ^2    2    0   0.000000  0.000000       NaN
26               bh    5    3   0.600000  0.333333  0.428571
27             qy^d   11    2   0.181818  0.250000  0.210526
28               br    6    2   0.333333  0.500000  0.400000
29              b^m    7    1   0.142857  0.250000  0.181818
30               ^h    1    1   1.000000  0.250000  0.400000
31               bf   11    0   0.000000  0.000000       NaN
32               fa    1    0   0.000000  0.000000       NaN
33         oo_co_cc    2    1   0.500000  1.000000  0.666667
34               ar    4    0   0.000000       NaN       NaN
35               bd    1    0   0.000000  0.000000       NaN
36               t1    0    0        NaN       NaN       NaN
37           arp_nd    2    0   0.000000       NaN       NaN
38               t3    0    0        NaN       NaN       NaN
39               ft    0    0        NaN       NaN       NaN
40               ^g    3    0   0.000000       NaN       NaN
41             qw^d    0    0        NaN       NaN       NaN
42               fp    0    0        NaN  0.000000       NaN
43           aap_am    0    0        NaN       NaN       NaN